<%= form_for([@post,@comment], url: post_comments_path(@post, @comment) ) do |f| %>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= f.hidden_field :post_id %>

<% end %>
